---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Servicios from "../components/Servicios.astro";
import Contacto from "../components/Contacto.astro";
---

<Layout>
  <Header />

  <!-- Contenido principal -->
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">

    <!-- Sección de Servicios -->
    <Servicios/>

    <!-- Sección de Contacto -->
    <Contacto />
  </main>

  <!-- Footer -->
  <footer class="text-white py-8" style="background-color: #4d3124;">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
      <p>&copy; 2025 Apapacho Colón. Todos los derechos reservados.</p>
    </div>
  </footer>
</Layout>
